/carel/
/fantasyDB/allow_bets.txt
/fantasyDB/balances.txt
/fantasyDB/bets.txt
/fantasyDB/fantasy.db
/fantasyDB/linked_channels.txt
/fantasyDB/linked_matches.txt
/fantasyDB/linked_messages.txt
/fantasyDB/start_times.txt
/fantasyDB/total_bets.txt
/giveaway/channel_id.txt
/giveaway/details.txt
/giveaway/entered_users.txt
/giveaway/live.txt
/giveaway/msg_id.txt
/giveaway/winner.txt
/users/nameLinks.txt
/users/steamIDs.txt
/users/truths.txt
/users/truths_backup.txt
/banned_users.txt
/bear_music.log
/DB design.txt
/discord.log
/bot_info.json
/.idea/.gitignore
/.idea/.name
/.idea/BearBot.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
/Cogs/carel.py
/Cogs/fantasy.py